@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	overflow-x: hidden !important;
}

#root {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
}

.outline-text {
	-webkit-text-stroke: 1px white;
}

#bgVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
	-webkit-user-select: none;
}
